body{
    background: #f2f2f2;
    margin: 0;
}

#main-content{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background: #ffffff;
    position: relative;
}

#adchoice p{
    font-family: ArialMT;
    font-size: 12px;;
    color: #919191;
    letter-spacing: 0;
    margin: 6.5px 0 0 0;
}

#adchoice img{
    width: 17px;
    height: 17px;
    margin: 5px 5px 0 2px;
}

#adchoice p, #adchoice img{
    display: inline-block;
    float: right;
}

#adchoice:after{
    content: "";
    display: block;
    clear: both;
}

#content #header h1{
    font-family: Helvetica;
    font-size: 54px;
    text-transform: capitalize;
    color: #397ACD;
    letter-spacing: 0;
    line-height: 60px;
    margin: 14.5px 20px 0 20px;
}

#content #sub-content p{
    font-family: Helvetica-light;
    font-size: 38px;
    color: #7C7C7C;
    letter-spacing: 0;
    line-height: 46px;
    margin: 15px 20px 0 20px;
}

#content #footer a{
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    color: #F276E2;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    left: 20px;
    bottom: 45px;
}

#content #footer img{
    position: absolute;
    left: 518px;
    right: 20px;
    bottom: 21px;
}

/*Media Queries*/

@media only screen and (width: 336px) and (height:280px){
    
/*----------------336*280--------------------*/
    
    #main-content{
        width: 336px;
        height: 280px;
    }

    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        font-size: 9px;
        line-height: 10px;
        margin: 3px 0 0 0;
    }
    
    #content #header h1{
        font-size: 26px;
        line-height: 31px;
        margin: 2px 15px 0 15px;
    }
    
    #content #sub-content p{
        font-size: 15px;
        line-height: 20px;
        margin: 5px 15px 0 15px;
    } 
    
    #content #footer a{
        font-size: 12px;
        line-height: 12px;
        bottom: 21px;
        left: 15px;
    }
    
    #content #footer img{
        width: 33.3px;
        height: 33.2px;
        left: 287.3px;
        bottom: 15.8px;
        right: 15.4px;
    }
}

@media only screen and (width: 226px) and (height: 264px){
    
/*----------------226*264--------------------*/
    
    #main-content{
        width: 226px;
        height: 264px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        font-size: 22px;
        line-height: 26px;
        margin: 7px 10px 0 10px;
    }
    
    #content #sub-content p{
        font-size: 13px;
        line-height: 17px;
        margin: 5px 10px 0 10px;
    } 
    
    #content #footer a{
        font-size: 12px;
        line-height: 12px;
        bottom: 19px;
        left: 10px;
    }
    
    #content #footer img{
        width: 29.1px;
        height: 29.9px;
        left: 186.3px;
        bottom: 10.1px;
        right: 10.6px;
    }
}

@media only screen and (width: 250px) and (height: 250px){
    
/*----------------250*250--------------------*/
    
    #main-content{
        width: 250px;
        height: 250px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        font-size: 22px;
        line-height: 26px;
        margin: 7px 10px 0 10px;
    }
    
    #content #sub-content p{
        font-size: 12px;
        line-height: 16px;
        margin: 5px 10px 0 10px;
    } 
    
    #content #footer a{
        font-size: 12px;
        line-height: 12px;
        bottom: 19px;
        left: 10px;
    }
    
    #content #footer img{
        width: 29.1px;
        height: 29.9px;
        left: 210.3px;
        bottom: 10.1px;
        right: 10.6px;
    }
}


@media only screen and (width: 300px) and (height: 250px){
    
/*----------------300*250--------------------*/
    
    #main-content{
        width: 300px;
        height: 250px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        font-size: 25px;
        line-height: 30px;
        margin: 7px 15px 0 10px;
    }
    
    #content #sub-content p{
        font-size: 14px;
        line-height: 17px;
        margin: 5px 10px 0 10px;
    } 
    
    #content #footer a{
        font-size: 11px;
        line-height: 14px;
        bottom: 18px;
        left: 10px;
    }
    
    #content #footer img{
        width: 29.1px;
        height: 29.9px;
        left: 260.3px;
        bottom: 10.3px;
        right: 10.9px;
    }
}


@media only screen and (width: 300px) and (height: 600px){
    
/*----------------300*600--------------------*/
    
    #main-content{
        width: 300px;
        height: 600px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        text-align: center;
        font-size: 38px;
        line-height: 42px;
        margin: 29px 14px 0 14px;
    }
    
    #content #sub-content p{
        text-align: center;
        font-size: 22px;
        line-height: 31px;
        margin: 15px 14px 0 14px;
    } 
    
    #content #footer a{
        font-size: 15px;
        line-height: 14px;
        bottom: 119px;
        left: 105px;
    }
    
    #content #footer img{
        width: 55px;
        height: 54px;
        left: 123px;
        bottom: 44px;
    }
}


@media only screen and (width: 160px) and (height: 600px){
    
/*----------------160*600--------------------*/
    
    #main-content{
        width: 160px;
        height: 600px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        text-align: center;
        font-size: 31px;
        line-height: 29px;
        margin: 40px 5px 0 5px;
    }
    
    #content #sub-content p{
        text-align: center;
        font-size: 17px;
        line-height: 22px;
        margin: 10px 5px 0 5px;
    } 
    
    #content #footer a{
        font-size: 12px;
        line-height: 12px;
        bottom: 117px;
        left: 44px;
    }
    
    #content #footer img{
        width: 55.2px;
        height: 55.2px;
        left: 52.6px;
        bottom: 51.8px;
    }
}


@media only screen and (width: 728px) and (height: 90px){
    
/*----------------728*90--------------------*/
    
    #main-content{
        width: 728px;
        height: 90px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3px 3px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        font-size: 21px;
        line-height: 25px;
        margin: 4.8px 194px 0 15px;
    }
    
    #content #sub-content p{
        font-size: 19px;
        line-height: 32px;
        margin: 2px 37px 19px 15px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    } 
    
    #content #footer a{
        display: none;
    }
    
    #content #footer img{
        display: none;
    }
}


@media only screen and (width: 300px) and (height: 50px){
    
/*----------------300*50--------------------*/
    
    #main-content{
        width: 300px;
        height: 50px;
    }
    
    #main-content #adchoice img{
        width: 8px;
        height: 8px;
        margin: 2px 2px 0 1px;
    }
    
    #main-content #adchoice p{
        margin: 2px 0 0 0;
        font-size: 6px;
        line-height: 6px;
    }
    
    #content #header h1{
        font-size: 15px;
        line-height: 18px;
        margin: 2px 15px 6px 10px;
    }
    
    #content #sub-content p{
        display: none;
    } 
    
    #content #footer a{
        display: none;
    }
    
    #content #footer img{
        display: none;
    }
}


@media only screen and (width: 414px) and (height: 74px){
    
/*----------------414*74--------------------*/
    
    #main-content{
        width: 414px;
        height: 74px;
    }
    
    #main-content #adchoice img{
        width: 11px;
        height: 11px;
        margin: 3.5px 2px 0 2px;
    }
    
    #main-content #adchoice p{
        margin: 3.5px 0 0 0;
        font-size: 9px;
        line-height: 10px;
    }
    
    #content #header h1{
        font-size: 20px;
        line-height: 24px;
        margin: 2px 11px 13px 10px;
    }
    
    #content #sub-content p{
        display: none;
    } 
    
    #content #footer a{
        display: none;
    }
    
    #content #footer img{
        display: none;
    }
}